.img-circle{
    width:100%;
    height: 50px;
    display: block;
}
.sidebar[data-color="blue"]:after, .off-canvas-sidebar[data-color="blue"]:after {
    background: #1E90FF !important;
    /* background: linear-gradient(160deg, #1e3c72 0%, #2a5298 100%); */
}