<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h4 class="card-title">Agents List</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Agent ID</th>
                  <th>Sponser ID</th>
                  <th>Email</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let agent of this.agents">
                  <td>{{agent.firstName}}</td>
                  <td>{{agent.agentId}}</td>
                  <td>{{agent.sponserId}}</td>
                  <td>{{agent.emailId}}</td>
                  <td><button class="btn btn-primary" (click)="getAgentById(agent.agentId)">View</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
