<nav class="navbar navbar-expand-lg navbar-absolute bg-primary bg-white">
    <div class="container-fluid p-0-60">
        <div class="navbar-wrapper">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img  class="maf-logo" src={{s3AssectUrl}}MAF-logo.png>
            </a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end show" id="collapseExample" ng-reflect-collapsed="false">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">
                        Home
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" >
                        Services
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']">
                        About
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contactus']">
                        Contact
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/maf-admin/admin-login']">
                        Admin Login
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/maf-agent/agent-login']">
                        Agent Login
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav> -->