<app-header></app-header>

<!--section 1-->
<div class="container-fluid">
  <div class="joinus-sec">
    <div class="row">
      <div class="col-md-6">
        <p class="wehelptext">
          We help you<br> maximise your financial <br>
          for a better future
        </p>

        <button (click)="register()" class="btn btn-default btn-lg submit-btn m-t-60">JOIN US</button>
      </div>
      <div class="col-md-6">
        <img src={{s3AssectUrl}}Home+Page+banner+Image.svg>
      </div>
    </div>
  </div>
</div>

<!--section 2-->

<!-- 
			=============================================
				What We Do
			============================================== 
			-->
<div class="what-we-do p-b-80">
  <div class="container">
    <h3 class="f-28 animated bounceInLeft m-h3 text-center">Make your move by becoming a business owner in the financial industry-
      armed with our system,
      technology,
      marketing, leadership, business model, and training.</h3>
     <h3 class="text-center"> Take the next step with one of our associates today.</h3>
    <h6></h6>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft">
        <div class="single-block">
          <div class="icon color-one"><i class="flaticon-note"></i></div>
          <h6>Equal Opportunity</h6>
          <h5><a class="tran3s">Everyone starts at top compensation</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
        <div class="single-block">
          <div class="icon color-two middle-block"><i class="flaticon-bar-chart2"></i></div>
          <h6>Nationwide</h6>
          <h5><a class="tran3s">Build Business with full-time thinkers</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
      <div class="col-md-4 hidden-sm col-xs-12 wow fadeInRight">
        <div class="single-block">
          <div class="icon color-three"><i class="flaticon-diamond"></i></div>
          <h6>Revenue Sharing</h6>
          <h5><a class="tran3s">Lifetime company revenue sharing</a></h5>
        </div> <!-- /.single-block -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.what-we-do -->
<!--section 3-->
<!-- 
			=============================================
				More About Us
			============================================== 

			-->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <img src="https://s3.amazonaws.com/mafserverless/Group+144.svg" class="m-l-16 about-img">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="row">
        <h2 class="m-h3 fw">Your future is in right hands <br>with
          Max Agent Financial</h2>
      </div>
      <div class="row">
        <h4 class="animated bounceInRight">Independent financial services organisation</h4>
      </div>
      <div class="row">
        <p class="animated bounceInRight lead">We are building a new Industry & replace the old outdated<br>
          one by educating families on various financial concepts<br>
          in general & learn how to regain control of your money.</p>
      </div>
      <div class="row">
        <div class="about-btn">
          <span>Learn More</span>
          <p>More About Us &nbsp;&nbsp;<i _ngcontent-c8="" aria-hidden="true" class="fa fa-long-arrow-right"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!--Our Services-->
<!-- 
			=============================================
				Home Service Section
			============================================== 
			-->
<div class="home-service-section p-t-50 p-b-80">
  <div class="container p-0">
    <div class="row">
      <div class="col-md-3">
        <img src="https://s3.amazonaws.com/mafserverless/Home+page+Abstract.png" alt="Image" class="service-img wow fadeInLeft">
      </div>
      <div class="col-md-9 main-container" style="z-index:99">
        <div class="theme-title">

          <h2 class="fw">To create more financially<br>
            independent families</h2>
          <p>We’ve strong work history with different business services</p>
          <a class="tran3s">See All Services</a>
        </div> <!-- /.theme-title -->
        <ul class="clearfix row">
          <li class="col-md-6">
            <div>
              <i class="flaticon-user"></i>
              <h5><a class="tran3s">College Planning</a></h5>
              <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
            </div>
          </li>
          <li class="col-md-6">
            <div>
              <i class="flaticon-layers"></i>
              <h5><a class="tran3s">Proper Insurance</a></h5>
              <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
            </div>
          </li>
          <li class="col-md-6">
            <div>
              <i class="flaticon-bar-chart"></i>
              <h5><a class="tran3s">Retirement Investment</a></h5>
              <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
            </div>
          </li>
          <li class="col-md-6">
            <div>
              <i class="flaticon-smartphone"></i>
              <h5><a class="tran3s">Final Expense</a></h5>
              <p>Lorem ipsum dolor sit amet, percipitur sadipscing. </p>
            </div>
          </li>
        </ul>
      </div> <!-- /.main-container -->
    </div>

  </div> <!-- /.container -->
</div> <!-- /.home-service-section -->
<!--Testimonials-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/mafserverless/Group+146.svg" class="m-l-16">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <h6>Testimonials</h6>
      <h2 class="fw">Check what’s our client <br>Say about us</h2>

      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../../../assets/img/white-background.png" class="tr-img">
          <div class="carousel-caption testimonial-carousel-caption">

            <div class="row">

              <div class="col-md-4">
                <img src="../../../assets/img/agent-profile.png" class="imgfounder" alt="Avatar">
              </div>

              <div class="col-md-8 text-left">
                <h4>Rashed Ka.</h4>

                <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/img/white-background.png" class="tr-img">
          <div class="carousel-caption testimonial-carousel-caption">

            <div class="row">

              <div class="col-md-4">
                <img src="../../../assets/img/james.jpg" class="imgfounder" alt="Avatar">
              </div>

              <div class="col-md-8 text-left">
                <h4>Rashed Ka.</h4>

                <p>Their testimonial videos aren't production quality, but they get the message across, cover
                    useful
                    &amp; relevant information which goes to show you don't need to invest thousands in production
                    get some
                    testimonial videos up with quality. </p>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img src="../../../assets/img/white-background.png" class="tr-img">
            <div class="carousel-caption testimonial-carousel-caption">
  
              <div class="row">
  
                <div class="col-md-4">
                  <img src="../../../assets/img/james.jpg" class="imgfounder" alt="Avatar">
                </div>
  
                <div class="col-md-8 text-left">
                  <h4>Rashed Ka.</h4>
  
                  <p>Their testimonial videos aren't production quality, but they get the message across, cover
                      useful
                      &amp; relevant information which goes to show you don't need to invest thousands in production
                      get some
                      testimonial videos up with quality. </p>
                </div>
              </div>
  
            </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../../assets/img/white-background.png" class="tr-img">
              <div class="carousel-caption testimonial-carousel-caption">
    
                <div class="row">
    
                  <div class="col-md-4">
                    <img src="../../../assets/img/james.jpg" class="imgfounder" alt="Avatar">
                  </div>
    
                  <div class="col-md-8 text-left">
                    <h4>Rashed Ka.</h4>
    
                    <p>Their testimonial videos aren't production quality, but they get the message across, cover
                        useful
                        &amp; relevant information which goes to show you don't need to invest thousands in production
                        get some
                        testimonial videos up with quality. </p>
                  </div>
                </div>
    
              </div>
            </ng-template>

      </ngb-carousel>


    </div>
  </div>

</div>
<!--Our News-->
<div class="home-blog-section p-b-80 m-t-100">
  <div class="container">
    <div class="theme-title text-center">
      <h6>Our News</h6>
      <h2>News from our company</h2>
    </div> <!-- /.theme-title -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-one">
          <img src="../../../assets/img/agent-profile.png" alt="">
          <h6>Rashed Ka.</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a href="blog-details.html" class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-two">
          <img src="../../../assets/img/agent-profile.png" alt="">
          <h6>Jannatul Fa.</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-three">
          <img src="../../../assets/img/agent-profile.png" alt="">
          <h6>Fred Johnston</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
      <div class="col-md-6 col-xs-12">
        <div class="single-blog color-four">
          <img src="../../../assets/img/agent-profile.png" alt="">
          <h6>Austin Cross</h6>
          <h5><a class="tran3s">Challange yourself to win the future</a></h5>
          <p>Their testimonial videos aren't production quality, but they get message across, cover useful & relevant
            information with tips.</p>
          <a class="tran3s hvr-icon-wobble-horizontal">More Details <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div> <!-- /.single-blog -->
      </div> <!-- /.col- -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.home-blog-section -->
<!--Video Section-->

<div class="container p-t-100 p-b-100">
  <div class="row">
    <div class="col-md-12">
      <iframe width="100%" height="516" src="https://www.youtube.com/embed/cq4OCO0Fjz8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<app-footer></app-footer>