ngb-carousel .carousel .carousel-inner {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}
/deep/ .carousel .carousel-inner {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
 }

ul li {
 list-style-type: none !important;
}
.joinus-sec{
    padding: 180px 100px;
}
.wehelptext {
    font-size: 49px;
    font-weight: 600;
    padding-top: 100px;
    line-height: 58px;
}
.submit-btn {
    border-radius: 50px;
padding:15px 70px;
    background: #3d73d3;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.m-t-60{
    margin-top:60px;
}
.p-t-100{
    padding-top:100px;
}
.p-t-50 {
    padding-top:50px;
}
.p-b-100{
    padding-bottom:100px;
}
.m-l-16 {
    margin-left:-16px;
}

.p-0 {
    padding: 0px !important;
}
/**Helper Classes*/
.m-t-30 {
    margin-top: 30px;
}
.main-content {
    padding: 0 50px !important;
    min-height: calc(100vh - 123px) !important;
    margin-top: 25px !important;
}
.m-l-224{
    margin-left:-224px;
}
.card {
    padding: 30px;
}

.carousel-caption {
    position: absolute;
    /* right: 15%; */
    bottom: 20px;
    left: -30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
   
    top: 10%;
    h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 0.8em;
    }
    .btn-round {
        border-width: 1px;
        border-radius: 30px;
        padding-right: 40px;
        padding-left: 40px;
        font-weight: bold;
    }
}
// 

.c-para {
    font-weight: bold;
    margin-left: -373px;
}
.read-more-btn {
    position: absolute;
    left: 32%;
}
/**Training image*/
.tr-img {
    height:400px;
}
.tr-text {
    .first-line {
        font-size: 26px;
        padding-bottom: 20px;
    }
    position: absolute;
    top: 10%;
    left: 7%;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    line-height: 16px;
}
.testimonials {
    color:black;
}
/***/
.justify-content-start {
    justify-content: flex-start!important;
    background: #222222 !important;
}


.testimonial-carousel-caption{
    left:0%;
    color:black;
}

.imgfounder{
    width:100px;height:100px; margin-top: 40px;
    border-radius: 50%;
}
.carousel .carousel-inner {
    /* box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3) !important;
}
.about-btn{
    position: absolute;
    right: 0px;
    background: #3d73d2;
    padding: 20px 113px 20px 32px;
    color: white;
    font-weight: bold;
}
.about-img {
    height: 532px;
    width: 545px;
}

/***/

/*------------------------ Home Blog Section --------------------*/
.home-blog-section {padding: 60px 0 0 0;}
.home-blog-section .theme-title {margin-bottom: 140px;}
.home-blog-section .row {margin: 0 -45px;}
.home-blog-section .row [class*="col-"] {padding: 0 45px;}
.home-blog-section .single-blog {
  position: relative;
  padding-left: 95px;
}
.home-blog-section .single-blog h6 {
  font-weight: 500;
  font-size: 18px;
}
.home-blog-section .single-blog h5 a {
  color: #13192d;
  position: relative;
  display: inline-block;
  line-height: 32px;
  margin: 12px 0 20px 0;
  z-index: 1;
}
.home-blog-section .single-blog p {
  margin: 0 0 20px 0;
  font-weight: 500;
}
.home-blog-section .single-blog>a {
  font-weight: 500;
  color: #000000;
}
.home-blog-section .single-blog>a i {
  margin-left: 8px;
  font-weight: normal;
  color: rgba(0,0,0,0.4);
}
.home-blog-section .single-blog h5 a:before {
  content: '';
  width: 100%;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  left:0;
  bottom: 3px;
  z-index: -1;
}
.home-blog-section .single-blog.color-one h5 a:before{background: #edceff;}
.home-blog-section .single-blog.color-two h5 a:before{background: #adf2c4;}
.home-blog-section .single-blog.color-three h5 a:before{background: #ffe8bf;}
.home-blog-section .single-blog.color-four h5 a:before{background: #ffdada;}

.home-blog-section .single-blog img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top:0;
  left:0;
}
.home-blog-section .single-blog {margin-bottom: 85px;}

 /*-------------------------- What we do -------------------*/
 .what-we-do {
    text-align: center;
    padding-bottom: 125px;
  }
  .what-we-do h3 {

        font-size: 27px;
         margin: 0 auto;
        text-align: left;
  }
  .what-we-do .container>h6 {
    color: rgba(37,47,62,0.8);
    margin: 50px 0 130px 0;
  }
  .what-we-do .single-block .icon {
    width: 121px;
    height: 121px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.08);
    line-height: 119px;
    font-size: 45px;
    margin: 0 auto;
    position: relative;
  }
  .what-we-do .single-block .icon.color-one {color: #3d73d3;}
  .what-we-do .single-block .icon.color-two {color: #ff3838;}
  .what-we-do .single-block .icon.color-three {color: #9262ff;}
  .what-we-do .single-block h6 {
    color: rgba(37,47,62,0.5);
    font-size: 18px;
    margin: 30px 0 20px 0;
  }
  .what-we-do .single-block h5 a {
    color: #2d2d43;
    font-size: 20px;
    line-height: 30px;
  }
  .what-we-do .single-block:hover h5 a {
    text-shadow: 1px 1px 5px rgba(37,47,62,0.1);
  }
  .what-we-do .single-block {
    padding: 0 25px;
    margin-bottom: 50px;
  }
  .what-we-do .single-block .icon.middle-block:before,
  .what-we-do .single-block .icon.middle-block:after {
    content: '';
    width: 200px;
    height: 1px;
    background: rgba(0,0,0,0.08);
    position: absolute;
    top:49%;
  }
  .what-we-do .single-block .icon.middle-block:before {left:-240px;}
  .what-we-do .single-block .icon.middle-block:after {right: -240px;}

  /***/

  /*------------------------ Home Service Section ----------------------*/
  .home-service-section {
    position: relative;
    padding-bottom: 100px;
  }
  .home-service-section .theme-title {margin-bottom: 70px;}
  .home-service-section .theme-title p {
    // font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin:35px 0 20px 0;
    display: inline-block;
  }
  .home-service-section .theme-title a {
    font-weight: 600;
    color: #00000a;
    padding-bottom: 2px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 20px;
  }
  .home-service-section .theme-title a:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #00000a;
    position: absolute;
    left:0;
    bottom: 0;
  }
  .home-service-section ul {margin: 0 -35px;}
  .home-service-section ul li {
    padding: 0 35px;
    margin-bottom: 90px;
  }
  .home-service-section ul li div {
    position: relative;
    padding: 0 0 0 90px;
  }
  .home-service-section ul li div h5 a {
    color: #00000a;
    margin-bottom: 12px;
  }
  .home-service-section ul li div p {
    line-height: 30px;
    font-weight: 500;
  }
  .home-service-section ul li div i {
    font-size: 62px;
    position: absolute;
    top:-10px;
    left:0;
  }
  .home-service-section ul li:hover div i {
    -webkit-transform:scale(0.9);
            transform:scale(0.9);
  }
  .home-service-section ul li div i.flaticon-user {color: #088ed3;}
  .home-service-section ul li div i.flaticon-layers {color: #ff5757;}
  .home-service-section ul li div i.flaticon-bar-chart {color: #2ed876;}
  .home-service-section ul li div i.flaticon-smartphone {color: #ffba34;}
  /*------------------- Two Section Wrapper -----------------*/

.service-img {
    height: 450px !important;
    width: 648px !important;
    position: absolute !important;
    left: -500px !important;
}

/**Themem title*/
    .theme-title {position: relative;}
    .theme-title h6 {
      font-weight: 600;
      font-size: 16px;
      color: rgba(0,0,10,0.45);
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      z-index: 1;
    }
    .theme-title h6:before {
      content: '';
      width: 100%;
      height: 5px;
      position: absolute;
      background: #3d73d3;
      border-radius: 2.5px;
      left:0;
      bottom: 0;
      z-index: -1;
    }
    .theme-title h2 {line-height: 55px;margin-top: 20px;}
    .theme-title-two h6 {
      font-weight: 500;
      font-size: 20px;
      color: rgba(0,0,0,0.3);
      margin-bottom: 15px;
    }
    .theme-title-two h2 {
      line-height: 55px;
      font-weight: 700;
    }
    .theme-title-two h2 span {position: relative;z-index: 9;}
    .theme-title-two h2 span:before {
      content: '';
      width: 97%;
      height: 10px;
      position: absolute;
      background: #c7fadb;
      border-radius: 5px;
      left:3px;
      bottom: 7px;
      z-index: -1;
    }