<img class="loader" src={{s3AssectUrl}}loader.gif *ngIf="loader">
<div class="inner-page-banner  about-page-banner">

  <div class="container c-b-s">
    <div class="row">
      <div class="col-md-6 p-0">
        <img src={{s3AssectUrl}}maf_payment.jpg class="p-img">
      </div>

      <div class="col-md-6 p-l-r-88">
        <div class="row">

          <img src={{s3AssectUrl}}MAF-logo.png class="maf-logo cursor" (click)="goToHome()">

        </div>
        <div class="row p-r">
          <div class="col-md-5">
            <span>Name</span>
          </div>
          <div class="col-md-7">
            <span class="f-w-b">{{firstName}}</span>
          </div>
        </div>
        <!--row2-->
        <div class="row p-r m-t-10">
          <div class="col-md-5">
            <span>Number</span>
          </div>
          <div class="col-md-7">
            <span class="f-w-b">{{phoneNo}}</span>
          </div>
        </div>
        <!--row3-->
        <div class="row p-r m-t-10">
          <div class="col-md-5">
            <span>Email ID</span>
          </div>
          <div class="col-md-7 ">
            <span class="f-w-b">{{emailId}}</span>
          </div>
        </div>
        <!--row4-->
        <div class="row p-r m-t-10">
          <div class="col-md-5">
            <span>Subscription fee</span>
          </div>
          <div class="col-md-7">
            <span class="f-w-b">${{initialAmmounttopay}}</span>
          </div>
        </div>
        <div class="m-t-b-30">
          <div class="row">
            <h3 class="text-center">Choose a payment method</h3>
          </div>
          <div class="row">
            <p class="text-center p-l-h ">
              Click on the button below to be re-directed to paypal's
              website to complete your transaction
            </p>
          </div>
        </div>
        <!--paypal button-->
        <div class="row">
          <div class="m-l-100">
            <ngx-paypal [config]="payPalConfig" class="p-btn"></ngx-paypal>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>