<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Log Insurance</h4>
        </div>
        <div class="card-body ">
          <form [formGroup]="writePolicyform" (submit)="onPolicyWrite(writePolicyform.value)">

            <label>Insurance Company</label>
            <div class="form-group">

              <select class="form-control" id="inscompanyname" name="inscompanyname" (change)="companySelect()"
                formControlName="inscompanyname" required [ngClass]="{ 'is-invalid': submitted && f.inscompanyname.errors }">
                <option value="null" disabled selected>Select Insurance Company</option>
                <option value="{{x.companyname}}" *ngFor="let x of insurancecompany">{{x.companyname}}</option>
              </select>
              <div *ngIf="submitted && f.inscompanyname.errors" class="invalid-feedback">
                <div *ngIf="f.inscompanyname.errors.required">inscompanyname is required</div>
              </div>
            </div>

            <label>Select Product</label>
            <div class="form-group">

              <select class="form-control" id="product" name="product" (change)="productSelect()" formControlName="product"
                required [ngClass]="{ 'is-invalid': submitted && f.product.errors }">
                <option value="null" disabled selected>Select Product</option>
                <option value="{{p.value}}" *ngFor="let p of companyproducts">{{p.value}}</option>
              </select>
              <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
                <div *ngIf="f.product.errors.required">product is required</div>
              </div>

            </div>

            <label>Enter Policy Number</label>
            <div class="form-group">
              <input type="test" class="form-control" id="insuranceid" placeholder="Enter Policy Number"
                formControlName="insuranceid" name="insuranceid" autocomplete="off" (keyup)="policyId()" 
                required [ngClass]="{ 'is-invalid': submitted && f.insuranceid.errors }"
                />
                <div *ngIf="submitted && f.insuranceid.errors" class="invalid-feedback">
                    <div *ngIf="f.insuranceid.errors.required">insuranceid is required</div>
                  </div>
            </div>
            <label>Select Premium Frequency</label>
            <div class="form-group">

              <select class="form-control" id="premiumfreq" name="premiumfreq" (change)="prefreq()" formControlName="premiumfreq"
              required [ngClass]="{ 'is-invalid': submitted && f.premiumfreq.errors }"
              >
                <option value="null" disabled selected>Select Frequency</option>
                <option value="Weekly">Weekly</option>
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
              </select>

              <div *ngIf="submitted && f.premiumfreq.errors" class="invalid-feedback">
                  <div *ngIf="f.premiumfreq.errors.required">premiumfreq is required</div>
                </div>
            </div>

            <label>Premium Amount (Numbers only)</label>
            <div class="form-group">
              <input type="text" class="form-control" id="premiumamount" formControlName="premiumamount" placeholder="Enter Premium Amount"
                name="premiumamount" autocomplete="off" (keyup)="enterAmount()"
                
                required [ngClass]="{ 'is-invalid': submitted && f.premiumamount.errors }"
                > / {{outpremiumfreq}}

                <div *ngIf="submitted && f.premiumamount.errors" class="invalid-feedback">
                    <div *ngIf="f.premiumamount.errors.required">premiumamount is required</div>
                  </div>

                <div *ngIf="submitted && f.premiumamount.errors" class="invalid-feedback">
                    <div class="require" *ngIf="writePolicyform.controls['premiumamount'].errors.pattern && writePolicyform.controls['premiumamount'].touched">*Amount Should be a Number</div>
                  </div>

            </div>
            <div class="card-footer ">
              <button type="submit" class="btn btn-fill btn-primary" [disabled]="loader ">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Insurance Details</h4>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Insurance Company Name</th>
                <td>{{outinscompanyname}}</td>
              </tr>
              <tr>
                <th>Product</th>
                <td>{{outproduct}}</td>
              </tr>
              <tr>
                <th>Policy ID</th>
                <td>{{outinsuranceid}}</td>
              </tr>
              <tr>
                <th>Start Date</th>
                <td>{{clock | date:'yyyy-MM-dd'}}</td>
              </tr>
              <tr>
                <th>Premium Frequency</th>
                <td>{{outpremiumfreq}}</td>
              </tr>
              <tr>
                <th>Premium Amount</th>
                <td>{{outpremiumamount | currency}}</td>
              </tr>
              <tr>
                <th>Premium Amount Per Year</th>
                <td>{{outyearpremium | currency}}</td>
              </tr>

              <tr>
                <th>Your Pay</th>
                <td>{{outagentcommission | currency}}</td>
              </tr>
              <tr>
                <th>Company Pool</th>
                <td>{{outcompanypool | currency }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <div class="row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
              <!-- <button type="submit" class="btn btn-fill btn-primary">
                Sign in
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>