
.contact-page-banner {
    /* background: url(../../../assets/imgs/ContactUsPageBanner.jpg) no-repeat center; */
    background: url(https://s3.amazonaws.com/mafserverless/public/ContactUsPageBanner.jpg) no-repeat center;
    
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 190px;
  }
  .inner-page-banner .opacity {
    text-align: center;
    background: transparent;
    padding: 220px 0 175px 0;
  }
  .inner-page-banner .opacity h1 {
    color: #000000;
    text-transform: capitalize;
  }
  .inner-page-banner .opacity ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: 40px 2px 0 2px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1.1px;
  }
  .inner-page-banner .opacity ul li a {color: #000000;}

  .submit-btn{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
}
.submit-btn:hover, .submit-btn:focus ,.submit-btn:active
{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #4343d6;
    color: white;
    font-weight: bold;
    outline:none;
}
.fl {
  float: left;
}
.c-p {
  margin-top: -5px !important;
	margin-left: 30px !important;
}
.p-t-30{
  padding-top:30px;
}

 /*------------------------ Conatct US -------------------------*/
 .contact-us-form {padding-right: 70px;}
 .contact-us-form form input,
 .contact-us-form form textarea {
   background: #fff;
   border: none;
   border-bottom: 1px solid #f0eff4;
   width: 100%;
   max-width: 100%;
   margin-bottom: 30px;
   font-size: 16px;
 }
 .contact-us-form form input:focus,
 .contact-us-form form textarea:focus {
   border-bottom-color: #3d73d3;
 }
 .contact-us-form form input {height: 50px;}
 .contact-us-form form textarea {
   height: 150px;
   max-height: 150px;
   padding: 20px 0;
 }
 /* .contact-us-form form button {
   width: 190px;
   line-height: 55px;
   font-size: 14px;
   font-weight: 600;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 1px;
   border-radius: 3px;
 }
 .contact-us .row [class*="col-"] {margin-bottom: 60px;}
 .contact-us .contact-address h2 {
   line-height: 55px;
   font-size: 38px;
 } */
 .contact-us .contact-address p {
   font-size: 20px;
   font-weight: 300;
   margin: 35px 0 15px 0;
 }
 .contact-us .contact-address>a {
   font-size: 28px;
   font-weight: 500;
   color: #000;
 }
 .contact-us .contact-address ul li {
   display: inline-block;
   margin-top: 30px;
 }
 .contact-us .contact-address ul li a {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid rgba(0,0,0,0.1);
   line-height: 38px;
   text-align: center;
   color: #cccccc;
   margin-right: 15px;
 }
 #google-map-area {
   padding: 0 50px;
   margin: 50px 0 120px 0;
 }
 #contact-google-map {
   width: 100%;
   height: 550px;
 }
 /*======================= Form Validation ===================*/
 .alert-wrapper {
   display: none;
   position: fixed;
   width: 100%;
   height:100%;
   background: rgba(0,0,0,0.6);
   top: 0;
   left: 0;
   z-index: 9999999;
 }
 #success,
 #error {
   position: relative;
   width:500px;
   height: 100px;
   top: calc(50% - 50px);
   left:calc(50% - 250px);
   background: rgba(0,0,0,0.8);
   text-align: center;
 }
 #success .wrapper,
 #error .wrapper {
   display: table;
   width:100%;
   height: 100%;
 }
 #success .wrapper p,
 #error .wrapper p{
   display: table-cell;
   vertical-align: middle;
   letter-spacing: 1px;
 }
 #success {
   color: #26ace3;
 }
 #error {
   color: #C9182B;
 }
 #error button,
 #success button {
   color:#fff;
   width:40px;
   height:40px;
   line-height: 20px;
   background: transparent;
   border-radius: 50%;
   position: absolute;
   top: -20px;
   right: -20px;
   font-size: 20px;
 }
 .form-validation label.error {
   display: none !important;
 }
 .form-validation input.error,
 .form-validation textarea.error {
   border-bottom:1px solid #f03838 !important;
 }

   /**Validation*/
   .invalid-feedback{
    color:red;
    font-weight: bold;
}