
/**Helper Classes*/
.m-t-30 {
    margin-top: 30px;
}
.main-content {
    padding: 0 50px !important;
    min-height: calc(100vh - 123px) !important;
    margin-top: 25px !important;
}
.m-l-224{
    margin-left:-224px;
}
.card {
    padding: 30px;
}

.carousel-caption {
    position: absolute;
    /* right: 15%; */
    bottom: 20px;
    left: -30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
   
    top: 10%;
    h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 0.8em;
    }
    .btn-round {
        border-width: 1px;
        border-radius: 30px;
        padding-right: 40px;
        padding-left: 40px;
        font-weight: bold;
    }
}
// 

.c-para {
    font-weight: bold;
    margin-left: -373px;
}
.read-more-btn {
    position: absolute;
    left: 32%;
}
/**Training image*/
.tr-img {
    height:400px;
}
.tr-text {
    .first-line {
        font-size: 26px;
        padding-bottom: 20px;
    }
    position: absolute;
    top: 10%;
    left: 7%;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    line-height: 16px;
}
.testimonials {
    color:black;
}
/***/
.justify-content-start {
    justify-content: flex-start!important;
    background: #222222 !important;
}


.testimonial-carousel-caption{
    left:0%;
    color:black;
}

.imgfounder{
    width:100px;height:100px; margin-top: 40px;
    border-radius: 50%;
}