<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="card">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ngb-tabset class="text-center">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  My MAF
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="row">
                    <!-- <div class="col-md-10 ml-auto mr-auto"> -->
                    <div class="col-md-12">
                      <!--carousel-->
                      <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/maf-dashboard-banner1.jpg" class="carousel-img">
                          <div class="carousel-caption">
                            <h3>How to Exceed Client Expectations </h3>
                            <h3 class="m-l-224">in Wealth Management</h3>
                            <p class="c-para ">This carousel uses customized default values.</p>
                            <br><br><br><br><br><br>
                            <button class="btn btn-info btn-round read-more-btn">Read More</button>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/maf-dashboard-banner1.jpg">
                          <div class="carousel-caption">
                            <h3>How to Exceed Client Expectations </h3>
                            <h3 class="m-l-224">in Wealth Management</h3>
                            <p class="c-para ">This carousel uses customized default values.</p>
                            <br><br><br><br><br><br>
                            <button class="btn btn-info btn-round read-more-btn">Read More</button>
                          </div>
                        </ng-template>


                      </ngb-carousel>
                    </div>

                  </div>
                  <!--testimonial-->
                  <div class="row m-t-30">
                    <div class="col-md-6">
                      <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/white-background.png" class="tr-img">
                          <div class="carousel-caption testimonial-carousel-caption">
                            <div class="row">
                              <div class="col-md-12">
                                <h3>Spotlight on New Agents</h3>
                              </div>
                            </div>
                            <div class="row">

                              <div class="col-md-4">
                                <img src="../../../assets/img/agent-profile.png" class="imgfounder" alt="Avatar">
                              </div>

                              <div class="col-md-8 text-left">
                                <h4>Agent 1</h4>

                                <p>Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod
                                  tincidunt
                                  laoreet dolore magna."</p>
                              </div>
                            </div>

                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/white-background.png" class="tr-img">
                          <div class="carousel-caption testimonial-carousel-caption">
                            <div class="row">
                              <div class="col-md-12">
                                <h3>Spotlight on New Agents</h3>
                              </div>
                            </div>
                            <div class="row">

                              <div class="col-md-4">
                                <img src="../../../assets/img/james.jpg" class="imgfounder" alt="Avatar">
                              </div>

                              <div class="col-md-8 text-left">
                                <h4>Agent 2</h4>

                                <p>Lorem ipsum dolor sit amet, ingelit, sed diam nonummy nibh euismod
                                  tincidunt
                                  laoreet dolore magna."</p>
                              </div>
                            </div>

                          </div>
                        </ng-template>

                      </ngb-carousel>
                    </div>
                    <div class="col-md-6">
                      <img src="../../../assets/img/maf-dashboard-banner2.jpg" class="tr-img">
                      <div class="tr-text">
                        <p class="first-line">Training at Every Turn</p>
                        <p>Our system is leadership-centered and training focused. </p>
                        <p>Experienced entrepreneurs and business mentors are motivated
                        </p>
                            <p>to help you learn and succeed fast.</p>
                        <br><br><br><br>
                        <button class="btn btn-info btn-round">Get Started</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  My Business
                </ng-template>
                <ng-template ngbTabContent>
                  <p> My Business</p>
                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>