<div class="sidebar" data-color="blue">
  <div class="logo">
    <a class="simple-text logo-mini">
      <div class="logo-img">
     <a [routerLink]="['/home']"><img src="../../../assets/img/maf.png" /></a>
      </div>
    </a>

  </div>
  <div class="sidebar-wrapper">
      <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round" (click)="minimizeSidebar()">
            <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
            <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
    <ul class="nav" style="margin-top:60px;">
      <li routerLinkActive="active" *ngFor="let menuitem of menuItems">
        <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
          <i class="now-ui-icons {{ menuitem.icontype }}"></i>
          <p>{{ menuitem.title }}</p>
        </a>
      </li>
    </ul>
  </div>
</div>