.m-10{
    margin:10%;
}
.tq {
    background: #f8fcff;

}
.tq-heading{
    font-size: 60px;
    font-weight: 400;
    color: #3d73d3;
    padding-top: 80px;
    padding-bottom: 20px;
}
.tq-subheading {
    font-size: 30px;
    font-weight: 400;
    color: black;
    padding-bottom: 30px;
}
.p-100{
    padding:100px;
}
.m-150 {
    margin:150px;
}
.site-color {
    color:#3d73d3
}
.black {
    color:black;
}
.p-t-30 {
    padding-top: 30px;
}

.submit-btn {
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #3d73d3;
    color: white;
    font-weight: bold;
    outline:none;
}

.submit-btn:hover, .submit-btn:focus ,.submit-btn:active
{
    color: #fff;
    background-color: #4343d6;
    border-color: #4343d6;
    outline:none;
}

.p-t-b-150{
    padding-top:150px;
    padding-bottom:150px;
}
.p-50{
    padding:50px;
}
.p-t-50{
    padding-top:50px;
}