<app-header></app-header>
<div class="container-fluid tq p-t-b-150">

  <div class="row">
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/mafserverless/payment-error.png" class="p-t-50">
    </div>
    <div class="col-md-6">
      <div class="row">
        <h1 class="tq-heading">Error !</h1>
      </div>
      <div class="row">
        <h3 class="tq-subheading">Please try again later</h3>
      </div>
      <div class="row">

        <p class="black">The transaction failed and the the payment has not been validated</p>
      </div>
      <div class="row p-t-30">
        <button class="btn btn-default btn-lg submit-btn" (click)="goPayment()">Try agin</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
