<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">

  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
        </div>
        <div class="card-body">
          <div class="author">
            <a>
              <img class="avatar border-gray" src={{imageurl}} alt="No Profile Pic Uploaded!" />
              <h5 class="title">{{firstName}} {{lastName}}</h5>
              <h5 class="title">{{agentId}}</h5>
            </a>
          </div>
          <div style="text-align: center">
            <button class="btn btn-primary" *ngIf="licenceThere">
              <a class="pdf-a" (click)="downloadFile()" [href]="LicenceURL" download="Licence.pdf" target="_blank" id="downloadlicence">
                View Licence</a>
            </button>

            <button class="btn btn-primary" (click)="downloadFile()" *ngIf="!licenceThere">
              View Licence
            </button>

          </div>
        </div>
        <!-- <hr />-->
        <div class="button-container">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Agent Details</h5>
        </div>
        <div class="card-body">

          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
              </thead>
              <tbody>
                <tr>
                  <td>Sponser ID</td>
                  <td>{{sponserId}}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{{emailId}}</td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{phoneNo}}</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>{{residentAddress}}</td>
                </tr>
                <tr>
                  <td>City</td>
                  <td>{{residentCity}}</td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>{{residentState}}</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td>{{residentCountry}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="assigninsurancecompany">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Assign Insurance Company</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Insurance Company Name</th>
                  <th>Products</th>
                  <th>Insurance Company Id</th>
                  <th>City</th>
                  <!-- <th>Logo</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let inscomp of insuranceCompanies">
                  <td>{{inscomp.companyName}}</td>
                  <td>{{inscomp.companyProductNames}}</td>
                  <td>{{inscomp.insuranceCompanyId}}</td>
                  <td>{{inscomp.city}}</td>
                  <td>
                    <button class="btn btn-success m-0-20" (click)="assignIns(agentDetails.agentId,inscomp.insuranceCompanyId)"
                      *ngIf="!inscomp.agentAssociated">
                      <span class="btn-label"><i class="now-ui-icons ui-1_check"></i></span>
                      Associate</button>
                    <button class="btn btn-danger m-0-20" (click)="removeIns(agentDetails.agentId,inscomp.insuranceCompanyId)"
                      *ngIf="inscomp.agentAssociated">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                      Dissociate</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5">
        <div *ngIf="rejectModal">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Reason for Reject</h4>
            </div>
            <div class="card-body">
  
              <form [formGroup]="rejectform" (submit)="onReject(agentDetails.emailId,agentDetails.agentId,agentDetails.firstName,rejectform.value)">
                <label>Email ID</label>
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="emailId" placeholder="Enter email" value={{agentDetails.emailId}}
                    readonly />
                </div>
                <label>Agent ID</label>
                <div class="form-group">
                  <input type="text" formControlName="agentId" class="form-control" placeholder="Enter Agent Id" value={{agentDetails.agentId}}
                    readonly />
                </div>
                <label>Comment</label>
                <div class="form-group">
                  <textarea style="border:1px solid lightgray;" formControlName="comments" class="form-control" rows="5"
                    required [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>
                  <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
                    <div *ngIf="f.comments.errors.required">Comments is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-round">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-2">
      <button class="btn  btn-success m-0-20" *ngIf="activeBtn" (click)="onAgentAccepts(agentDetails.agentId,agentDetails.firstName,agentDetails.emailId)"
        [disabled]="activeDisable">

        <span class="btn-label"><i class="now-ui-icons ui-1_check"></i></span>
        Apporve</button>
      <!-- <button class="btn btn-danger m-0-20" *ngIf="!rejectBtn" (click)="open(classic, this.type)">
        <i class="now-ui-icons ui-1_simple-remove"></i>
        Reject</button> -->
      <button class="btn btn-danger m-0-20" *ngIf="rejectBtn" (click)="openrejectModal()">
        <i class="now-ui-icons ui-1_simple-remove"></i>
        Reject</button>
    </div>
    <div class="col-md-5"></div>
  </div>



</div>
<!-- <ng-template #classic let-c="close" let-d="dismiss"> 
  
  <div class="modal-header">
    <h5 class="modal-title text-center">Send Reason For Rejection</h5>
    <button type="button" class="close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="rejectform" (submit)="onReject(agentDetails.emailId,agentDetails.agentId,agentDetails.firstName,rejectform.value)">
      <label>Email ID</label>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="emailId" placeholder="Enter email" value={{agentDetails.emailId}}
          readonly />
      </div>
      <label>Agent ID</label>
      <div class="form-group">
        <input type="text" formControlName="agentId" class="form-control" placeholder="Enter Agent Id" value={{agentDetails.agentId}}
          readonly />
      </div>
      <label>Comment</label>
      <div class="form-group">
        <textarea style="border:1px solid lightgray;" formControlName="comments" class="form-control" rows="5" required 
        [ngClass]="{ 'is-invalid': submitted && f.comments.errors }"></textarea>
             <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
                <div *ngIf="f.comments.errors.required">Comments is required</div>
              </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-round">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template> -->

<!--Reject Modal-->