<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="container">
    <!--login start-->
    <div class="col-md-4 ml-auto mr-auto">
      <form class="form" [formGroup]="agentloginform" (ngSubmit)="onLogin(agentloginform.value)">
        <div class="card card-login card-plain">
          <div class="card-header ">
            <div class="logo-container">
              <!-- <img src="../../../assets/img/now-logo.png" alt="" /> -->

            </div>
          </div>
          <div class="card-body ">
            <div class="input-group no-border form-control-lg" [ngClass]="{ 'input-group-focus': focus === true }">
              <span class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </div>
              </span>
              <input type="text" class="form-control" formControlName="agentId" name="agentId" id="agentId" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && ad.agentId.errors }" placeholder="User Name" />

              <div *ngIf="submitted && ad.agentId.errors" class="invalid-feedback">
                <div *ngIf="ad.agentId.errors.required">Username is required</div>
              </div>

            </div>
            <br>
            <div class="input-group no-border form-control-lg" [ngClass]="{ 'input-group-focus': focus2 === true }">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </div>
              </div>
              <input type="password" formControlName="password" name="password" id="password" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="Password" />

              <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
                <div *ngIf="ad.password.errors.required">Password is required</div>
              </div>
            </div>

          </div>
          <div class="card-footer ">
            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3" [disabled]="subbutton">Submit</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>