.contact-page-banner {
    background: url(https://s3.amazonaws.com/mafserverless/AgentLandingPagebanner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 190px;
  }
  .inner-page-banner .opacity {
    text-align: center;
    background: transparent;
    padding: 220px 0 175px 0;
  }
  .inner-page-banner .opacity h1 {
    color: #000000;
    text-transform: capitalize;
  }
  .inner-page-banner .opacity ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    margin: 40px 2px 0 2px;
    text-transform: uppercase;
    color: #929292;
    letter-spacing: 1.1px;
  }
  .inner-page-banner .opacity ul li a {color: #000000;}

  /**Margins*/
  .m-t-80 {
    margin-top:80px;
  }
  .m-t-40 {
    margin-top:40px;
  }
  /**Paddings*/
  .p-t-100{
    padding-top: 100px;
  }
  .p-t-15 {
    padding-top:15px;
  }
  .p-l-15 {
    padding-left:15px;
  }
  .p-b-15{
    padding-bottom: 15px;
  }
  .p-t-b {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .p-b-150 {
    padding-bottom: 150px !important;
  }
  /**card*/
  .card {
    -webkit-box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 25px;
    height:260px;
  }
  .num-img {
    width:50px;
  }
  /**Button*/
  .submit-btn{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #3d73d3;
    color: white;
    font-weight: bold;
}
.submit-btn:hover, .submit-btn:focus ,.submit-btn:active
{
    border-radius: 50px;
    width: 210px;
    height: 65px;
    background: #3d73d3;
    color: white;
    font-weight: bold;
    outline:none;
}
/**Testimonial section*/

.testimonial-section {
  padding: 30px 0 0px 0;
  position: relative;
  z-index: 9;
  margin-bottom: 0px;
}
.carousel-caption {
  right: 0%;
  left: 10%;
  top:15%;
  padding-bottom: 30px;
}
#tmyCarousel .item {
height:500px;

}

.tcarousel-caption {
text-align: left;
top:-5%;
color: rgba(0,0,0,0.65);
  padding-bottom: 30px;
}
.tcarousel-caption p {
  text-shadow: none;
 }
 .t-s {
     text-shadow: none;
 }
 .t-i-b {
  left: -160px !important;
  top: 0px;
}

.p-b-80{
  padding-bottom: 80px !important;
}
.m-t-100 {
  margin-top:-100px;
}
.ac-btn {
  width: 40px;
}
.ac-sec{
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.18);
  padding: 30px 20px;
}
.f-r{
  position: absolute;
    right: -70px;
    top: -10px;
}

.abt-image-box{
  position: absolute;
  top: 0px;
  left: -105px;
  z-index: 1;
}
.p-e-w {
  line-height: 35px;
  margin: 32px 0 40px 0;
}
.height-225{
  height: 250px !important;
}
.p-t-70 {
  padding-top:70px !important;
}

.col-md-4 {
  float: left;
}