<div class="panel-header panel-header-sm"></div>

<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Insurance Details</h4>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Insurance Company Name</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Product</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Policy ID</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Start Date</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Premium Frequency</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Premium Amount</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Premium Amount Per Year</th>
                <td>x</td>
              </tr>

              <tr>
                <th>Your Pay</th>
                <td>x</td>
              </tr>
              <tr>
                <th>Company Pool</th>
                <td>x</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <div class="row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
              <!-- <button type="submit" class="btn btn-fill btn-primary">
                Sign in
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>