footer .bottom-footer {
    padding: 0px !important;
 }
 .max-logo {
     width:50%;
 }
 ul {
     padding-left:0px;
 }
ul li {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
}
     /*----------------------- Footer ---------------------*/
     footer.bg-one {background: url(../../../assets/img/footer.png) no-repeat center center;background-size: cover;}
     footer.bg-two {
       background: url(../../../assets/img/footer2.jpg) no-repeat center center;background-size: cover;
       padding-top: 150px;
     }
     
     footer {padding-top:180px;}
     footer .footer-logo h5 a {
       font-weight: 600;
       font-size: 16px;
       color: #222222;
       margin: 30px 0 15px 0;
     }
     footer h4 {
       font-size: 20px;
       font-weight: 600;
       margin-bottom: 25px;
     }
     footer .footer-list ul li {line-height: 40px;}
     footer .footer-list ul li a {
       color: rgba(0,0,0,0.65);
       font-weight: 500;
     }
     footer .footer-subscribe input {
       width: 100%;
       height: 55px;
       border: 1px solid rgba(0,0,0,0.08);
       border-radius: 5px;
       padding: 0 20px;
       background: transparent;
     }
     footer .footer-subscribe form {padding: 15px 0 35px 0;}
     footer .footer-subscribe ul li {display: inline-block;}
     footer .footer-subscribe ul li a {
       color: #b4b5b6;
       font-size: 18px;
       margin-right: 15px;
     }
     footer .bottom-footer p,footer .bottom-footer ul li {line-height: 40px;}
     footer .bottom-footer p a {font-weight: 500;}
     footer .bottom-footer ul li {
       float:left;
       padding-left: 50px;
     }
     footer .bottom-footer ul li h3 {
       font-size: 24px;
       font-weight: 600;
     }
     footer .row [class*='col-'] {margin-bottom: 60px;}
     footer .bottom-footer {padding: 25px 0 70px 0;}
     #svag-shape {position: absolute;z-index: -999;}