<div class="panel-header panel-header-sm"></div>

<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h4 class="card-title">Insurance Companies List</h4></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Insutance Company name</th>
                  <th>Insurance Copmany ID</th>
                  <th>Products</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Company Logo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ins of allCompanyList">
                  <td>{{ins.companyName}}</td>
                  <td>{{ins.insuranceCompanyId}}</td>
                  <td>{{ins.companyProductNames}}</td>
                  <td>{{ins.address}}</td>
                  <td>{{ins.city}}</td>
                  <td><img style="height:90px;width: 90px" src={{ins.companyLogo}} ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
