<app-header></app-header>
<!-- 
			=============================================
				Theme Inner Banner 
			============================================== 
      -->
<div class="m-130"></div>
<div class="inner-page-banner about-page-banner"> 
  <div class="opacity">
    <h1>Company Story</h1>
    <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li>/</li>
      <li>About us</li>
    </ul>
  </div> <!-- /.opacity -->
</div> <!-- /inner-page-banner -->
<!-- 
			=============================================
				About Text
			============================================== 
			-->
<!-- <div class="about-text">
  <div class="container">
    <div class="title text-center">
      <h4>WELCOME TO MAX AGENT FINANCIAL</h4>
      <h4 class="fw">Striving to take advantage of today’s opportunities for <br>
        customers and clients.</h4>
    </div>
    <img src="https://s3.amazonaws.com/mafserverless/AboutUsPageBanner.jpg" alt="" style="padding-top:50px;">
    <div class="about-tab-wrapper clearfix">
      <ul class="nav nav-tabs float-left">
        <li class="active"><a data-toggle="tab" href="#history">Our mission</a></li>
        <li><a data-toggle="tab" href="#vision">Our Vision</a></li>
      </ul>
      <div class="tab-content float-left">
        <div id="history" class="tab-pane fade in active">
          <p>To give people from all backgrounds the power to become financial
            services business owners, so that every family can access financial
            knowledge, products, and resources to prepare for a better future.</p>
          <img src="https://s3.amazonaws.com/mafserverless/sign.png" alt="">
        </div> 
        <div id="vision" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div>
        <div id="contact" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div>
        <div id="news" class="tab-pane fade">
          <p>We provide marketing services to startups and small businesses to looking for a partner of their digital
            media, design &amp; dev, lead generation, and communications requirents. We work with you, not for you.
            Although we have great resources.</p>
        </div> 
      </div>
    </div> 
  </div> 
</div>  -->

<!-- 
			=============================================
				Trusted Client
			============================================== 
			-->
<div class="trusted-client p-b-100">
  <div class="container">
    <div class="title text-center ">
      <h2 class="fw">Our trusted partners</h2>

    </div>
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src={{s3AssectUrl}}Prudential+partner+logo.svg alt=""></div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src={{s3AssectUrl}}partner+-nationwide.svg alt=""></div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="client-img"><img src={{s3AssectUrl}}Partner+Transamerica.svg alt=""></div>
      </div>

    </div>
  </div> <!-- /.container -->
</div> <!-- /.trusted-client -->

<app-footer></app-footer>