<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Policies List</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>Insurance Company Name</th>
                  <th>Product</th>
                  <th>Policy ID</th>
                  <th>Start Date</th>
                  <th>Premium Frequency</th>
                  <th>Premium Amount</th>
                  <th>Premium Amount Per Year</th>
                  <th>Your Pay</th>
                  <th>Company Pool</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ins of totalData">
                  <td>{{ins.insuranceCompanyname}}</td>
                  <td>{{ins.productName}}</td>
                  <td>{{ins.policyId}}</td>
                  <td>{{ins.TSCreated | date:'yyyy-MM-dd'}}</td>
                  <td>{{ins.premiumFrequency}}</td>
                  <td>{{ins.premiumAmount | currency}}</td>
                  <td>{{ins.yearPremiumAmount | currency}}</td>
                  <td>{{ins.agentCommissionAmount | currency}}</td>
                  <td>{{ins.companyPoolAmount | currency}}</td>
                </tr>
                <tr>
                  <td colspan="7" style="text-align: right">
                    <strong>Total</strong></td>

                  <td>{{totalCommission | currency}}</td>
                  <td>{{totalCompanyPool | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>