
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.white {
    background: white !important;
}
.author img {
    border : 0px !important;
}
.pdf-a {
    color : #ffffff !important;
    text-decoration: none;
}
.pdf-a:hover, .pdf-a:focus, .pdf-a:active
{
    color: #fff !important;
    
}