<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" placeholder="Username" disabled="" value={{agentDetails.agentId}} />
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Sponser ID</label>
                  <input type="text" class="form-control" placeholder="Sponser ID" disabled="" value={{agentDetails.sponserId}} />
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" disabled="" placeholder={{agentDetails.emailId}} />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="Company" value={{agentDetails.firstName}} />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" value={{agentDetails.lastName}} />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control" placeholder="Phone Number" disabled="" value={{agentDetails.phoneNo}} />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Payment ID</label>
                  <input type="text" class="form-control" placeholder="Payment ID" disabled="" value={{agentDetails.paymentId}} />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Home Address" value={{agentDetails.residentAddress}} />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control" placeholder="City" value={{agentDetails.residentCity}} />
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" value={{agentDetails.residentCountry}} />
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="text" class="form-control" placeholder="ZIP Code" value={{agentDetails.residentZipcode}} />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
        </div>
        <div class="card-body">
          <div class="author">

            <span class="btn-file white">
              <img class="img-circle avatar border-gray cursor" src={{agentDetails.ImageURI}} alt="NO IMAGE UPLOADED!" />
              <!-- <i class="now-ui-icons ui-1_simple-add"></i> -->
              <input type="file" (change)="previewFile()" #fileInput>
            </span>


            <h5 class="title">{{agentDetails.firstName}} {{agentDetails.lastName}}</h5>
            <h5 class="title">{{agentDetails.agentId}}</h5>


          </div>
          <!-- <div>
            <span class="btn btn-info">
              Licence Upload
              <input type="file" (change)="previewLicenceFile()" #fileLicenceInput>
            </span>

          </div> -->

          <div style="text-align: center">
            <button class="btn btn-primary btn-file">
              <!-- <a class="pdf-a" (click)="downloadFile()" [href]="LicenceURL" download="Licence.pdf" target="_blank">
                  Upload Licence</a> -->
              <input type="file" (change)="previewLicenceFile()" #fileLicenceInput>Upload Licence
            </button>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Upload</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-left">Image Upload</h3>
              <img [src]="fileDataUri">

              <p *ngIf="errorMsg" style="color:red">{{errorMsg}}</p>
              <form>
                <div class="col-md-6"></div>
                <span class="btn btn-info btn-file">
                  Browse Image
      
                </span>
                <button class="btn btn-fill btn-primary" type="submit" [disabled]="fileDataUri == undefined">Upload</button>
              </form>
            </div>
            <div class="col-md-6">
              <h3 class="text-left">Licence Upload</h3>
              <p *ngIf="errorLicenceMsg" style="color:red">{{errorLicenceMsg}}</p>
              <form >

                <span class="btn btn-info btn-file">
                  Browse File

                </span>
               
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Pdf Viewer</h5>
        </div>
        <div class="card-body">

          <pdf-viewer [src]="LicenceURI" [original-size]="false" >
          </pdf-viewer>
        </div>
      </div>
    </div>
  </div> -->
  <!-- 
  <div class="row" *ngIf="pdfViewer">
      <div class="col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="title"></h5>
        </div>
        <div class="card-body">
          <pdf-viewer [src]="LicenceURI" [original-size]="false" >
          </pdf-viewer>
        
        </div>
      </div>
    </div>
  </div> -->
  <div class="row" *ngIf="pdfViewer">
    <div class="col-md-6 ml-auto mr-auto">
      <button class="btn btn-primary"  *ngIf="licenceThere">
        <a class="pdf-a" (click)="downloadFile()" [href]="LicenceURL" download="Licence.pdf" target="_blank">
          Download Licence</a>
      </button>

      <button class="btn btn-primary"  *ngIf="!licenceThere" (click)="downloadFile()">
          Download Licence
      </button>
    </div>

  </div>


</div>