<footer class="footer">
  <div class="container-fluid">
    <!-- <nav>
      <ul>
        <li><a>MAX AGENT FINANCIAL</a></li>
        <li><a href="http://presentation.creative-tim.com"> About Us </a></li>
        <li><a href="http://blog.creative-tim.com"> Blog </a></li>
      </ul>
    </nav> -->
    <div class="copyright" id="copyright">
      &copy; {{ test | date: "yyyy" }}, Designed and
      Coded by
      <a>DEVELOPER ON RENT</a>.
    </div>
  </div>
</footer>
