<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Create Insurance Company</h4>
        </div>
        <div class="card-body ">
          <form [formGroup]="createInsuranceCompanyForm" (submit)="createInsCompany(createInsuranceCompanyForm.value)">
            <label>Insurance Company Name</label>
            <div class="form-group">
              <input class="form-control" id="companyName" name="companyName" formControlName="companyName" required
                [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
              <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">Name is required</div>
              </div>
            </div>
            <label>Company Products</label>
            <div class="form-group">
              <tag-input style="height:59px;" class="form-control" id="companyProducts" name="companyProducts"
                formControlName="companyProducts" required [ngClass]="{ 'is-invalid': submitted && f.companyProducts.errors }">
                <tag-input-dropdown [dynamicUpdate]="false">
                </tag-input-dropdown>
              </tag-input>
              <div *ngIf="submitted && f.companyProducts.errors" class="invalid-feedback">
                <div *ngIf="f.companyProducts.errors.required">companyProducts required</div>
              </div>
            </div>
            <label>Address</label>
            <div class="form-group">
              <input class="form-control" type="text" id="address" name="address" formControlName="address" required
                [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
            <label>City</label>
            <div class="form-group">
              <input class="form-control" type="text" id="city" name="city" formControlName="city" required [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
              <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">city is required</div>
              </div>

            </div>
            <label>State</label>
            <div class="form-group">
              <input class="form-control" type="text" id="state" name="state" formControlName="state" required
                [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
              <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">state is required</div>
              </div>

            </div>
            <label>country</label>
            <div class="form-group">
              <input class="form-control" type="text" id="country" name="country" formControlName="country" required
                [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />

              <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">country is required</div>
              </div>
            </div>
            <div class="form-group">

              <label>Upload Icon</label><br><br>
             
              <img [src]="fileDataUri" class="icon-upload" formControlName="iconUpload" ><br><br>
              <span class="btn btn-info btn-file">Browse File
                <input type="file" (change)="previewFile()" #fileInput>
              </span>


            </div>

            <div class="card-footer ">
              <!-- <button type="submit" class="btn btn-fill btn-primary" [disabled]="buttonSubmit">Submit</button> -->
              <button type="submit" class="btn btn-fill btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6" hidden>
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Horizontal Form</h4>
        </div>
        <div class="card-body ">
          <form class="form-horizontal">
            <div class="row">
              <label class="col-md-3 col-form-label">Username</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Email</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="email" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3 col-form-label">Password</label>
              <div class="col-md-9">
                <div class="form-group">
                  <input type="password" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-3"></label>
              <div class="col-md-9">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" />
                    <span class="form-check-sign"></span> Remember me
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer ">
          <div class="row">
            <label class="col-md-3"></label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-fill btn-primary">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>