<div class="panel-header panel-header-lg">
  <canvas
    baseChart
    id="bigDashboardChart"
    [datasets]="lineBigDashboardChartData"
    [labels]="lineBigDashboardChartLabels"
    [colors]="lineBigDashboardChartColors"
    [options]="lineBigDashboardChartOptions"
    [chartType]="lineBigDashboardChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-primary">
                    <i class="now-ui-icons ui-2_chat-round"></i>
                  </div>
                  <h3 class="info-title">859</h3>
                  <h6 class="stats-title">Active Associates</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-success">
                    <i class="now-ui-icons business_money-coins"></i>
                  </div>
                  <h3 class="info-title"><small>$</small>3,521</h3>
                  <h6 class="stats-title">Life Licensed Associates</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-info">
                    <i class="now-ui-icons users_single-02"></i>
                  </div>
                  <h3 class="info-title">562</h3>
                  <h6 class="stats-title">Securities Licensed Assocites</h6>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="statistics">
                <div class="info">
                  <div class="icon icon-danger">
                    <i class="now-ui-icons objects_support-17"></i>
                  </div>
                  <h3 class="info-title">353</h3>
                  <h6 class="stats-title">IAR Associates</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">My Lifeline</h5>
          <h2 class="card-title">34,252</h2>
          <div class="" ngbDropdown>
            <button
              type="button"
              class="btn btn-round btn-default btn-simple btn-icon no-caret"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class=" dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="lineChartExample"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/US.png" /></div>
                  </td>
                  <td>USA</td>
                  <td class="text-right">2.920</td>
                  <td class="text-right">53.23%</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/DE.png" /></div>
                  </td>
                  <td>Germany</td>
                  <td class="text-right">1.300</td>
                  <td class="text-right">20.43%</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/AU.png" /></div>
                  </td>
                  <td>Australia</td>
                  <td class="text-right">760</td>
                  <td class="text-right">10.35%</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/GB.png" /></div>
                  </td>
                  <td>United Kingdom</td>
                  <td class="text-right">690</td>
                  <td class="text-right">7.87%</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/RO.png" /></div>
                  </td>
                  <td>Romania</td>
                  <td class="text-right">600</td>
                  <td class="text-right">5.94%</td>
                </tr>
                <tr>
                  <td>
                    <div class="flag"><img src="../assets/img/BR.png" /></div>
                  </td>
                  <td>Brasil</td>
                  <td class="text-right">550</td>
                  <td class="text-right">4.34%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">My Last Commission</h5>
          <h2 class="card-title">55,300</h2>
          <div class="" ngbDropdown>
            <button
              type="button"
              class="btn btn-round btn-default btn-simple btn-icon no-caret"
              data-toggle="dropdown"
              ngbDropdownToggle
            >
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="lineChartExampleWithNumbersAndGrid"
              [datasets]="lineChartWithNumbersAndGridData"
              [labels]="lineChartWithNumbersAndGridLabels"
              [colors]="lineChartWithNumbersAndGridColors"
              [options]="lineChartWithNumbersAndGridOptions"
              [chartType]="lineChartWithNumbersAndGridType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <div class="card-progress">
            <div class="progress-container">
              <span class="progress-badge">Delivery Rate</span>
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 90%;"
                >
                  <span class="progress-value">90%</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-success">
              <span class="progress-badge">Open Rate</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 60%;"
                >
                  <span class="progress-value">60%</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-info">
              <span class="progress-badge">Click Rate</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 12%;"
                >
                  <span class="progress-value">12%</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-warning">
              <span class="progress-badge">Hard Bounce</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 5%;"
                >
                  <span class="progress-value">5%</span>
                </div>
              </div>
            </div>
            <div class="progress-container progress-danger">
              <span class="progress-badge">Spam Report</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 0.11%;"
                >
                  <span class="progress-value">0.11%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">My Key Metrics</h5>
          <h2 class="card-title">105</h2>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas
              baseChart
              id="activeCountries"
              [datasets]="lineChartGradientsNumbersData"
              [labels]="lineChartGradientsNumbersLabels"
              [colors]="lineChartGradientsNumbersColors"
              [options]="lineChartGradientsNumbersOptions"
              [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
          <h4 class="card-title text-center">Active Tasks</h4>
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          checked
                        />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/emilyz.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    Sign contract
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/james.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    Send E-mails
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          checked
                        />
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="img-row">
                    <div class="img-wrapper img-raised">
                      <img src="../assets/img/mike.jpg" class="img-raised" />
                    </div>
                  </td>
                  <td class="text-left">
                    Write article
                  </td>
                  <td class="td-actions text-right">
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Edit Task"
                    >
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button
                      type="button"
                      rel="tooltip"
                      title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Remove"
                    >
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
