<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title">Policies List</h4>
            </div>
            <div class="col-md-3">

              <!-- <ng-select [items]="totalAgentList" bindLabel="name" placeholder="Search Policies List">
              </ng-select> -->

              <select class="form-control" (change)="getPoliciesByid($event)">
                	<option value="null" disabled selected *ngIf="!filter">Select Agent ID</option>
                	<option value="{{x.agentId}}" *ngFor="let x of totalAgentList">{{x.agentId}},{{x.firstName}}</option>
          		</select>
            </div>

              <!-- <input class="form-control" type="text" [(ngModel)]="term" placeholder="Search Policies List"> -->
              <div class="col-md-3">
	          			<button class="btn btn-primary" (click)="removeFilter()" *ngIf="filter">Remove Filter</button>
	        		</div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>Policy ID</th>
                    <th>Agent ID</th>
                    <th>Insurance Company Name</th>
                    <th>Product</th>
                    <th>Start Date</th>
                    <th>Premium Frequency</th>
                    <th>Premium Amount</th>
                    <th>Premium Amount Per Year</th>
                    <th>Agent Pay</th>
                    <th>Company Pool</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ins of totalPolicyData |filter:term">
                    <td>{{ins.policyId}}</td>
                    <td>{{ins.agentId}}</td>
                    <td>{{ins.insuranceCompanyname}}</td>
                    <td>{{ins.productName}}</td>
                    <td>{{ins.TSCreated | date:'yyyy-MM-dd'}}</td>
                    <td>{{ins.premiumFrequency}}</td>
                    <td>{{ins.premiumAmount | currency}}</td>
                    <td>{{ins.yearPremiumAmount | currency}}</td>
                    <td>{{ins.agentCommissionAmount | currency}}</td>
                    <td>{{ins.companyPoolAmount | currency}}</td>
                  </tr>
                  <tr>
                    <td colspan="8" style="text-align: right">
                      <strong>Total</strong></td>

                    <td>{{totalAgentsCommission | currency}}</td>
                    <td>{{totalAgentsCompanyPool | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>