/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/** Helper Classes*/
.p-0 {
    padding: 0px;
}

.cursor {
    cursor: pointer;
  }
  .loader {
    position: absolute;
    left: 45%;
    bottom: 40%;
    z-index: 999;
}
.maf-logo{
    width:50%;
}

.admin-alert {
    width: 500px;
    position: absolute;
    top: 3%;
    left: 30%;
    z-index: 99;
}
.fw {
    font-weight: bold !important;
}

.sidebar .logo, .off-canvas-sidebar .logo {
    position: relative;
   padding: 0px !important;
    z-index: 4;
}
.m-0-20 {
    margin: 2px 10px !important;
}