
/**Helper Classes*/
// f7971e

// ffd200
.panel-header {
    background: #2c2c2c;
    background: linear-gradient(160deg, #232526 0%, #414345 100%);
    background-size: 105%;
}
.m-t-30 {
    margin-top: 30px;
}
/deep/  .nav-tabs {
    border: 0;
    padding: 0px 0.7rem !important;
    padding-bottom: 25px !important;
}
// .main-content {
//     padding: 0 50px !important;
//     min-height: calc(100vh - 123px) !important;
//     margin-top: 25px !important;
// }
.m-l-224{
    margin-left: -230px;
    margin-top: -10px;
}
.card {
    padding: 30px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: -30%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    top: 10%;
 
 
}
.carousel-text{
    position: absolute;
     z-index: 10;
    color: #fff;
    top: 10%;
    text-align: left;
    left: 5%;
    .p-44 {
        font-size: 44px;
        font-weight: bold;
        line-height: 0.8em;
        }
        .p-14 {
            font-size:14px;
            font-weight: bold;
        }
        .btn-round {
            border-width: 1px;
            border-radius: 30px;
            padding-right: 40px;
            padding-left: 40px;
            font-weight: bold;
            font-size: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
            left: 0px;
        }
}
// 

.c-para {
    font-weight: bold;
    margin-left: -373px;
}
.read-more-btn {
    position: absolute;
    left: 32%;

}
/**Training image*/
.tr-img {
    height:400px;
}
.tr-text {
    position: absolute;
    top: 15%;
    left: 7%;
    color: #ffffff;
    text-align: left;

    .p-28{
        font-size:28px;
        font-weight: bold;
            }
            .p-16{
                font-size: 16px;
                font-weight:500px;
            }
            .btn-round {
                border-width: 1px;
                border-radius: 30px;
                padding-right: 40px;
                padding-left: 40px;
                font-weight: bold;
                font-size: 16px;
                padding-top: 15px;
                padding-bottom: 15px;
                left: 0px;
            }
}
.testimonials {
    color:black;
}
/***/
.justify-content-start {
    justify-content: flex-start!important;
    background: #222222 !important;
}


.testimonial-carousel-caption{
    left:0%;
    color:black;
    .p-h{
        text-align: left;
        padding-left: 57px;
        font-size:28px;
        font-weight: bold;
    }
    .p-28{
font-size:28px;
font-weight: bold;
    }
    .p-26{
        font-size:26px;
      
            }
            .p-16{
                font-size:16px;
            
                    }
}

.imgfounder{
    width:100px;height:100px; margin-top: 10px;
    border-radius: 50%;
}

/**new css*/

