<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <div class="card">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <ngb-tabset class="text-center">
              <ngb-tab>
                <ng-template ngbTabTitle>
                  My MAF
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="row">
                    <!-- <div class="col-md-10 ml-auto mr-auto"> -->
                    <div class="col-md-12">
                      <!--carousel-->
                      <ngb-carousel [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/maf-dashboard-banner1.jpg" class="carousel-img">
                          <div class="carousel-caption carousel-text">

                            <p class="p-44">How to Exceed Client Expectations</p>
                            <p class="p-44">in Wealth Management</p>
                            <p class="p-14">Jhon Smith in Latest News 7h ago | 3min read</p>
                            <br><br><br><br><br><br>
                            <button class="btn btn-info btn-round read-more-btn">Read More</button>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/maf-dashboard-banner1.jpg">
                          <div class="carousel-caption carousel-text">
                            <p class="p-44">How to Exceed Client Expectations</p>
                            <p class="p-44">in Wealth Management</p>
                            <p class="p-14">Jhon Smith in Latest News 7h ago | 3min read</p>
                            <br><br><br><br><br><br>
                            <button class="btn btn-info btn-round read-more-btn">Read More</button>
                          </div>
                        </ng-template>


                      </ngb-carousel>
                    </div>

                  </div>
                  <!--testimonial-->
                  <div class="row m-t-30">
                    <div class="col-md-6">
                      <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/white-background.png" class="tr-img">
                          <div class="carousel-caption testimonial-carousel-caption">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="p-h">Spotlight on Agents</p><br>
                              </div>
                            </div>
                            <div class="row">

                              <div class="col-md-4">
                                <img src="../../../assets/img/agent-profile.png" class="imgfounder" alt="Avatar">
                              </div>

                              <div class="col-md-8 text-left">
                                <p class="p-26">Mike Ross</p>
                                <p class="p-16">Congratulations! on your advancement to Executive Revenue Director</p>
                              </div>
                            </div>

                          </div>
                        </ng-template>
                        <ng-template ngbSlide>
                          <img src="../../../assets/img/white-background.png" class="tr-img">
                          <div class="carousel-caption testimonial-carousel-caption">
                            <div class="row">
                              <div class="col-md-12">
                                <p class="p-h">Spotlight on Agents</p><br>
                              </div>
                            </div>
                            <div class="row">

                              <div class="col-md-4">
                                <img src="../../../assets/img/agent-profile.png" class="imgfounder" alt="Avatar">
                              </div>

                              <div class="col-md-8 text-left">
                                <p class="p-26">Mike Ross</p>
                                <p class="p-16">Congratulations! on your advancement to Executive Revenue Director</p>
                              </div>
                            </div>

                          </div>
                        </ng-template>

                      </ngb-carousel>
                    </div>
                    <div class="col-md-6">
                      <img src="../../../assets/img/maf-dashboard-banner2.jpg" class="tr-img">
                      <div class="tr-text">
                        <p class="p-28">Training at Every Turn</p><br>
                        <p class="p-16">Our system is leadership-centered and training focused.<br>
                          Experienced entrepreneurs and business mentors are motivated<br>

                          to help you learn and succeed fast.</p>

                        <br><br><br>
                        <button class="btn btn-info btn-round">Get Started</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  My Business
                </ng-template>
                <ng-template ngbTabContent>
                  <app-agentbusiness></app-agentbusiness>
                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>