<div class="panel-header panel-header-sm"></div>
<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Payment Status</h5>
        </div>
        <div class="card-body">
          	<table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Agent ID</th>
                  <th>Amount</th>
                  <th>payment ID</th>
                  <th>payment Date</th>
                  <th>End Date Of Payment</th>
                  <th>Payment Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let eolist of EandOpaymentList">
                  <td>{{eolist.agentId}}</td>
                  <td>{{eolist.amount}}</td>
                  <td>{{eolist.paymentId}}</td>
                  <td>{{eolist.paymentDate | date:'yyyy-MM-dd'}}</td>
                  <td>{{eolist.endDateOfPayment | date:'yyyy-MM-dd'}}</td>
                  <td>{{eolist.paymentStatus}}</td>
                </tr>
              </tbody>
          	</table>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Payment Section</h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <p>Name</p>
            </div>
            <div class="col-md-6">
              <p>{{firstName}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Number</p>
            </div>
            <div class="col-md-6">
              <p>{{phoneNo}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Email ID</p>
            </div>
            <div class="col-md-6">
              <p>{{emailId}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Amount to Pay</p>
            </div>
            <div class="col-md-6">
              <p>{{finalamount | currency}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Choose a payment method</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center p-l-h ">
                Click on the button below to be re-directed to paypal's
                website to complete your transaction
              </p>
            </div>
          </div>
          <div class="row" *ngIf="paypalbutton">
            <div class="m-0-auto">
              <ngx-paypal [config]="payPalConfig" class="p-btn"></ngx-paypal>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>