.form-control.is-invalid{
    background-size: 0;
   }
.alert-primary{
   opacity: 0.85;
   font-weight: bold;
   -webkit-animation-name: box;
   animation-name: box;
   -webkit-animation-delay: 0.5s;
   animation-delay: 0.5s;
}
