<img class="loader" src="https://s3.amazonaws.com/mafserverless/loader.gif" *ngIf="loader">
<div class="main-content">
  <div class="container">

    <div class="col-md-4 ml-auto mr-auto">
      <form class="form" [formGroup]="adminloginform" (ngSubmit)="onLogin(adminloginform.value)">
        <div class="card card-login card-plain">
          <div class="card-header ">
            <div class="logo-container">
              <!-- <img src="assets/img/now-logo.png" alt="" /> -->
            </div>
          </div>
          <div class="card-body ">
            <!-- [ngClass]="{ 'input-group-focus': focus === true }" -->
            <div class="input-group no-border form-control-lg">
              <span class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </div>
              </span>
              <input type="email" formControlName="emailId" name="emailId" id="emailId" class="form-control" required
                [ngClass]="{ 'is-invalid': submitted && ad.emailId.errors }" placeholder="Email ID" (blur)="focus = false" />

              <div *ngIf="submitted && ad.emailId.errors" class="invalid-feedback">
                <div *ngIf="ad.emailId.errors.required">Email Id is required</div>
              </div>

            </div>
            <br>
            <div class="input-group no-border form-control-lg" [ngClass]="{ 'input-group-focus': focus2 === true }">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="now-ui-icons text_caps-small"></i>
                </div>
              </div>
              <input type="password" formControlName="password" name="password" id="password" class="form-control"
                required [ngClass]="{ 'is-invalid': submitted && ad.password.errors }" placeholder="Password" (focus)="focus2 = true"
                (blur)="focus2 = false" />

              <div *ngIf="submitted && ad.password.errors" class="invalid-feedback">
                <div *ngIf="ad.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
          <div class="card-footer ">

            <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Submit</button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>